* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 14vw;
    box-sizing: border-box;
    background: linear-gradient(to top right, rgb(224, 94, 231), rgb(52, 52, 221));
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.logo {
    filter: contrast(1.1px);
    border-radius: 100%;
    margin: 2%;
    width: 8vw;
    height: auto;
    padding: 2vw;
    transition: 0.2s ease;
}

.logo:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.2s ease;
}

input {
    position: relative;
    box-sizing: border-box;
    border: 1px solid white;
    padding-left: 10px;
    top: 2.5vw;
    left: 14vw;
    height: 2.5vw;
    width: 40vw;
    font-size: 13px;
    transition: 0.2s ease;
    box-shadow: -2px 5px 10px black;
}

input:hover {
    transform: scale(1.1);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 3vw;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 10vw;
    height: 2.5vw;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
    background-color: white;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    color: rgba(124, 7, 122, 0.748);
    box-shadow: 0px 4px 8px black;
    transform: scale(0.9);
}

a:hover {
    transform: scale(1.1);
    background-color: yellow;
    color: blueviolet;
}

main {
    height: auto;
    width: 100vw;
    box-sizing: border-box;
    background: linear-gradient(to top right, rgb(224, 94, 231), rgb(52, 52, 221));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trending {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vw;
}

.card {
    display: block;
    width: 19vw;
    height: auto;
    padding-bottom: 2vw;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.75);
    transition: 0.2s ease;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.2s ease;
}

img {
    margin: 5px 0px 0px 5px;
    width: 16vw;
    height: auto;
}

.name {
    font-weight: 600;
    text-align: center;
    font-size: 12px;
}

.price {
    display: block;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    background: rgb(255, 211, 130);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    width: 10vw;
    height: 3vw;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(140, 64, 202);
    color: rgb(255, 255, 0);
    bottom: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.button:hover {
    transform: scale(1.15);
    background: linear-gradient(rgb(100, 16, 225), rgb(255, 0, 183));
}

.button:active {
    transform: scale(1.15);
    background-color: rgb(175, 70, 188);
    cursor: pointer;
}

.sec {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    margin: 5vw 0vw 5vw 0vw;
    padding: 2% 0% 2% 0%;
    width: 25vw;
    height: 4vw;
    color: rgb(255, 255, 0);
    border-radius: 10px;
    background: linear-gradient(rgb(244, 38, 244), rgb(2, 35, 63));
    border: none;
    box-shadow: 0px 4px 8px black;
    transition: 0.2s ease;
    transform: scale(0.8);
}

.sec:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.view-more>button {
    display: flex;
    width: 25vw;
    height: 4vw;
    margin-top: 8vw;
    background: linear-gradient(rgb(100, 16, 225), rgb(255, 0, 183));
    font-size: 24px;
    box-shadow: 0px 4px 8px black;
}

.view-more>button:hover {
    transform: scale(1);
    cursor: pointer;
    transition: 0.2s ease;
}

.view-more>button:active {
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgb(237, 177, 247);
}

footer {
    display: block;
    width: 100vw;
    height: auto;
    padding-bottom: 4vw;
    background: linear-gradient(to top right, rgb(224, 94, 231), rgb(52, 52, 221));
}

footer p {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 3vw;
    margin-bottom: 1.5vw;
}

footer .link {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 10px;
}

footer img {
    width: 22px;
    border-radius: 50%;
    transition: 0.2s ease;
}

footer img:hover {
    transform: scale(1.2);
    cursor: pointer;

}

.inner {
    margin-left: 3%;
}

@media only screen and (max-width: 760px) {
    .logo {
        width: 12vw;
        padding: 4vw;
        margin-right: 0vw;
    }

    nav ul {
        gap: 1vw;
    }

    a {
        font-size: 9px;
        width: auto;
        padding: 0px 3px 0px 3px;
    }

    input {
        top: 1.5vw;
        left: 8vw;
        height: 3vw;
        width: 40vw;
        font-size: 11px;
    }

    .trending {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 40vw;
        height: 25vw;
        display: flex;
    }

    .name {
        font-size: 10px;
    }

    .price {
        display: block;
        font-size: 12px;
    }

    img {
        width: 20vw;
        height: auto;
        margin-right: 2%;
    }

    .inner {
        display: block;
        margin-top: 5vw;
    }

    .sec {
        font-size: 15px;
    }

    .button {
        width: 12vw;
        height: 3vw;
        font-size: 10px;
    }

    .view-more>button {
        font-size: 15px;
    }

    footer p {
        font-size: 14px;
    }

    footer img {
        width: 20px;
    }
}

@media only screen and (max-width: 480px) {
    a {
        font-size: 7px;
        width: auto;
        padding: 0px 2px 0px 2px;
    }

    input {
        top: 0.25vw;
        font-size: 7px;
    }

    .card {
        width: 70vw;
        height: 30vw;
        display: flex;
    }

    .sec {
        height: 3vw;
        font-size: 14px;
        padding: 2vw;
    }

    .view-more>button {
        font-size: 12px;
        padding: 2vw;
        width: 30vw;
        height: 3vw;
    }

    img {
        width: 30vw;
        height: auto;
    }

    .name {
        font-size: 10px;
    }

    .price {
        display: block;
        font-size: 12px;
    }

    .inner {
        display: block;
        margin-top: 10%;
        margin-left: 8%;
    }

    .button {
        width: 12vw;
        height: 3vw;
        font-size: 8px;
    }

    .view-more>button {
        font-size: 14px;
    }

    footer p {
        font-size: 12px;
    }

    footer img {
        width: 15px;
    }
}