* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: linear-gradient(to top right, rgb(224, 94, 231), rgb(52, 52, 221));
    color: white;
    width: 75%;
    height: 600px;
    box-shadow: 5px 0px 12px 5px black;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

#web {
    display: flex;
    justify-content: center;
    font-size: 15px;
    letter-spacing: 1.6px;
}

h1 {
    font-family: 'Trebuchet MS';
    font-size: 50px;
    color: yellow;
    margin-top: 40px;
    line-height: 0.75;
}

.details {
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details label {
    margin-top: 0%;
    width: 350px;
}

input {
    display: block;
    padding-left: 2%;
    width: 350px;
    height: 35px;
    font-size: 15px;
    margin-bottom: 5%;
    transition: 0.25s ease;
    border: 1px solid white;
}

label {
    font-size: 14px;
    font-weight: 800;
}

button {
    background-color: yellow;
    border: none;
    margin-top: 2%;
    height: 45px;
    width: 360px;
    transition: 0.3s ease;
    font-size: 18px;
    color: #0077B5;
    font-weight: 800;
}

input:hover {
    transform: scale(1.1);
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button:active {
    transform: scale(1.15);
    background-color: white;
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    gap: 50px;
}

.image {
    filter: contrast(1.2);
    transition: 0.2s ease;
}

.image:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    gap: 8px;
    justify-content: center;
}

footer p {
    font-size: 18px;
    color: yellow;
    text-decoration: underline;
}

footer p:hover {
    cursor: pointer;
}

#logo {
    width: 25px;
    border-radius: 50%;
    transition: 0.2s ease;
}

#logo:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.error-popup {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 75vw;
    height: auto;
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px black;
    z-index: 1000;
    overflow: auto;
    line-height: 1.4;
}

.error-popup h4 {
    font-size: 18px;
}

.error-popup p {
    font-size: 14px;
}

@media only screen and (max-width : 900px) {
    .image {
        display: none;
    }

    .box {
        width: 80vw;
        height: 76vh;
    }

    input {
        width: 60vw;
        height: 5vh;
        font-size: 12px;
        margin-bottom: 2.25vw;
    }

    .details label {
        width: 60vw;
        letter-spacing: 1.1px;
    }

    button {
        width: 62vw;
        height: 6vh;
    }
}

@media only screen and (max-width : 600px) {
    .box {
        height: 65vh;
    }

    h1 {
        font-size: 42px;
        display: inline;
    }

    #web {
        font-size: 14px;
    }

    input {
        width: 60vw;
        height: 4.25vh;
        font-size: 10px;
    }

    .details label {
        font-size: 12px;
        width: 60vw;
        letter-spacing: 1.1px;
    }

    button {
        width: 62vw;
        height: 5vh;
        font-size: 16px;
        margin-bottom: 1vh;
    }

    footer p {
        font-size: 14px;
    }

    #logo {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width : 320px) {
    .box {
        height: 56vh;
    }

    h1 {
        font-size: 35px;
        display: inline;
    }

    #web {
        font-size: 12px;
        margin-bottom: 1vh;
    }

    input {
        width: 60vw;
        height: 3.5vh;
        font-size: 11px;
    }

    .details label {
        font-size: 11px;
        width: 60vw;
        letter-spacing: 1.1px;
    }

    button {
        width: 62vw;
        height: 4.5vh;
        font-size: 14px;
        margin-bottom: 1.25vh;
    }

    footer p {
        font-size: 12px;
    }

    .error-popup h4 {
        font-size: 14px;
    }

    .error-popup p {
        font-size: 10px;
    }

}
